name: Update Dependencies
on:
  schedule:
    - cron: 0 04 * * *
  workflow_dispatch:
jobs:
  download-upstream:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Get latest Kairos release
        id: latest
        run: |
          echo "stdout=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/kairos-io/kairos/releases/latest | yq -r .tag_name)" >> $GITHUB_OUTPUT
      - name: Get latest Kairos release notes
        id: latest_msg
        run: |
          {
            echo 'stdout<<EOF'
            curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/kairos-io/kairos/releases/latest | yq -r .body
            echo EOF
          } >> "$GITHUB_OUTPUT"
      - name: Fetch used Kairos Workflow
        id: workflow
        run: |
          echo "stdout=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://raw.githubusercontent.com/kairos-io/kairos/refs/tags/${{steps.latest.outputs.stdout}}/.github/workflows/image-master.yaml | yq -r .jobs.standard.uses)" >> $GITHUB_OUTPUT
      - name: Get latest Hadron release
        id: hadron
        run: |
          echo "stdout=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/kairos-io/hadron/releases/latest | yq -r .tag_name)" >> $GITHUB_OUTPUT
      - name: Fetch Dockerfile & update resulting Dockerfile
        run: |
          curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://raw.githubusercontent.com/kairos-io/kairos/refs/tags/${{steps.latest.outputs.stdout}}/images/Dockerfile > Dockerfile_kairos
          touch Dockerfile
          echo "# DO NOT EDIT MANUALLY - THIS FILE IS AUTO-GENERATED" > Dockerfile
          cat Dockerfile_kairos >> Dockerfile
          cat Dockerfile_ext >> Dockerfile
      - name: Update workflow
        run: |
          yq -i '.jobs.build-amd64.uses = "${{steps.workflow.outputs.stdout}}"' ./.github/workflows/build-and-release.yaml
          yq -i '.jobs.build-rpi.uses = "${{steps.workflow.outputs.stdout}}"' ./.github/workflows/build-and-release.yaml
          yq -i '.env.BASE_IMAGE = "ghcr.io/kairos-io/hadron:${{steps.hadron.outputs.stdout}}"' ./.github/workflows/build-and-release.yaml
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{secrets.PULLREQUST_TOKEN}}
          commit-message: Update to kairos ${{steps.latest.outputs.stdout}}
          branch: update-kairos
          title: Update Kairos to ${{steps.latest.outputs.stdout}}
          body: |
            # General
            - Hadron Version: `${{steps.hadron.outputs.stdout}}`
            - Kairos Version: `${{steps.latest.outputs.stdout}}`
            - Kairos Workflow: `${{steps.workflow.outputs.stdout}}`
            # Kairos update text
            ${{steps.latest_msg.outputs.stdout}}
          delete-branch: true
  update-kubernetes:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Get latest
        id: latest
        run: |
          echo "stdout=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/k3s-io/k3s/releases/latest | yq -r .tag_name)" >> $GITHUB_OUTPUT
      - name: Get latest
        id: latest_msg
        run: |
          {
            echo 'stdout<<EOF'
            curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/k3s-io/k3s/releases/latest | yq -r .body
            echo EOF
          } >> "$GITHUB_OUTPUT"
      - name: Replace Version
        run: |
          yq -i '.env.KUBERNETES_VERSION = "${{steps.latest.outputs.stdout}}"' ./.github/workflows/build-and-release.yaml
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{secrets.PULLREQUST_TOKEN}}
          commit-message: Update to k3s ${{steps.latest.outputs.stdout}}
          branch: update-k3s
          title: Update k3s to ${{steps.latest.outputs.stdout}}
          body: |
            # General
            Update k3s version to `${{steps.latest.outputs.stdout}}`
            # k3s update text
            ${{steps.latest_msg.outputs.stdout}}
          delete-branch: true
